.Main {
    top:100px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
}

.Welcome {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: 600;
    font-size: 36px;
}

.Welcome h1 {
    margin-right: 40px;
}
