.Main {
    top:100px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
}

.Welcome {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: 600;
    font-size: 36px;
}

.Welcome h1 {
    margin-right: 40px;
}

@media (max-width: 600px) {
    .Main {
        top: 40px;
    }
    .Welcome {
        font-size: 18px;
    }
}

@media (max-height: 420px) {
    .Main {
        top:0;
    }

    .Welcome {
        font-size: 18px;
    }

    .Welcome h1 {
        margin-right: 40px;
    }
}
