.AboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top:100px;
    left: 0;
    right: 0;
    position: fixed;
}

.AboutSection p {
    margin: 50px;
    width: 800px;
    font-size: 26px;
    color: white;
    text-align: left;
}

@media (max-width: 600px) {
    .AboutSection p {
        width: 80%;
        font-size: 18px;
        margin-left: 80px;
    }
}