.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  transition: all 0.7s ease-out;
}

.paths-enter {
  transition: all 0.7s ease-out;
  opacity: 0;
  transform: translateX(-100%);
}

.paths-enter-active {
  transition: all 0.7s ease-out;
  opacity: 0;
}

.paths-enter-done {
  transition: all 0.7s ease-out;
  opacity: 1;
  transform: translateX(0);
}

.paths-exit {
  display: none;
}

.paths-exit-active {
  transition: all 0.7s ease-out;
  opacity: 0;
  transform: translateX(100%);
}