.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  transition: all 0.3s ease-out;
}

.paths-enter {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.paths-enter-active {
  opacity: 1;
}

.paths-exit {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.paths-exit-active {
  opacity: 0;
}