.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: 600;
  font-size: 36px;
}

.Welcome h1 {
  margin-right: 40px;
}
