.Nav {
    position: fixed;
    width: 70px;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(55, 71, 96, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-out;
    z-index: 200;
}

.open {
    width: 270px;
}

.Links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    color: white;
    transition: all 0.3s ease-out;
}

.Link {
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.selected {
    border-bottom: 2px solid white;
}

.paths-enter {
    opacity: 0;
}

.appear-enter-active {
    opacity: 1;
}

.appear-exit {
    opacity: 1;
}

.appear-exit-active {
    opacity: 0;
}

@media (max-width: 600px) {

    .Nav {
        width: 50px;
    }

    .open {
        width: 200px;
    }
}